@tailwind base;
@tailwind components;
@tailwind utilities;
.slideshow {
    position: relative;
    overflow: hidden;
  }
  @keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -200%; }
  }
  .images {
   
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 300%;
    animation: slideshow 10s linear infinite;
  }